<!DOCTYPE html>
<html>
<head>
	<title>Create an Account</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> 
	<link rel="stylesheet" type="text/css" href="stylesheets/register.css">
	<link href='https://fonts.googleapis.com/css?family=Autour One' rel='stylesheet'>

</head>

<body>	
	<div class="container-fluid">
		<div class="row">
			<img src="../images/toDo-background.jpeg" alt="tech" class="img-responsive"/>
			<div class="col-sm-6 content">
				<!-- <h1>To-Do for YOU</h1> -->
				<form action="/register" method="post">
					<div class="form-group new">
						<h1>To-Do for YOU</h1>
						<label> First name:</label>
						<input type="text" name="firstName" class="form-control firstName form-input">
						<label> Last name:</label>
						<input type="text" name="lastName" class="form-control lastName form-input">
						<label> Username:</label>
						<input type="text" name="userName" class="form-control userName form-input">
						<label> Email:</label>
						<input type="text" name="Email" class="form-control Email form-input">
						<label>Password:</label>
						<input type="password" name="Password" class="form-control Password form-input">
						<label>Confirm Password:</label>
						<input type="password" name="ConfPassword" class="form-control ConfPassword form-input">
					</div>
					<button type="submit" id="submit-login">Submit</button>
					<br>
				</form>
					<div class="sign-up">
						<p>Already a member?
							<a href="/">Log in</a>
						</p>
					</div>
			</div>
		</div>
	</div>

</body>
</html>