<!DOCTYPE html>
<html>
<head>
	<title>Sign In Page</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> 
	<!-- Custom CSS -->
	<link rel="stylesheet" type="text/css" href="stylesheets/sign.css">
	<!-- Fonts -->
	<link href='https://fonts.googleapis.com/css?family=Autour One' rel='stylesheet'>
</head>
<body>
<!-- **************************Sign In Page*********************************************** -->
<div class="container-fluid">
	<div class="home-wrapper">
      <img src="./images/toDo-background.jpeg" class="img-responsive">
    </div>
    	<div class="form-container"> 
        	<div class="row">
				<div class="col-sm-12  signInBox">
						<h3>Welcome!</h3>
						<p>To-Do for You is a web application that provides a concise and creative way to keep all of your thoughts and activities organized.</p> 
						<br>
						<p>Login below or sign up to create an account!</p>
						<form action="/index" method="post">
							<div class="form-group new">
								<div class="input-group col-sm-12 text-center">
								<label>Username:</label>
								<input type="text" name="username" placeholder="User Name"  class="form-control username form-input"/>
								<label>Password:</label>
								<input type="password" name="password"  placeholder="*****" class="form-control password form-input"/>
							<button type="submit"  id="submit-login">Submit</button>
							<br>
							</div>
							</div>
						</form>
							<div class="sign-up">
								<p>New?
									<a href="/register">Sign Up</a>
								</p>
							</div>
				</div>
		</div>
	</div>
</div>