<!DOCTYPE html>
<html>
<head>
	<title>Sign In Page</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> 
	<link rel="stylesheet" type="text/css" href="stylesheets/sign.css">
	<link href='https://fonts.googleapis.com/css?family=Autour One' rel='stylesheet'>
	<!-- // <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	// <script type="text/javascript" src="../routes/scripts.js"></script> -->

	<!-- <script src="https://code.jquery.com/jquery-1.12.4.js"></script> -->
  	<!-- <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script> -->
</head>

<body>	
	<div class="container-fluid">
		<div class="row">
			<!-- <div class="col-sm-12 background"> -->
			<img src="../images/toDo-background.jpeg" alt="tech" class="img-responsive"/>
			<!-- </div> -->
			<div class="col-sm-6 content">
				<h1>To-Do for YOU</h1>
				<h3>Welcome!</h3>
				<p>To-Do for You is a web application that provides a concise and creative way to keep all of your thoughts and activities organized.</p> 
				<br>
				<p>Login below or sign up to create an account!</p>
				<form action="/index" method="post">
					<div class="form-group new">
						<label>Username:</label>
						<input type="text" name="username" placeholder="User Name" class="form-control username form-input"/>
						<label>Password:</label>
						<input type="password" name="password" placeholder="*****" class="form-control password form-input"/>
					</div>
					<button type="submit"  id="submit-login">Submit</button>
					<br>
				</form>
					<div class="sign-up">
						<p>New?
							<a href="/register">Sign Up</a>
						</p>
					</div>
			</div>
		</div>
	</div>	
</body>
</html>