<!DOCTYPE html>
<html>
<head>
	<title>Sign In Page</title>
	<link rel="icon" type="image" href="./images/toDo-background.jpeg">
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> 
	<!-- Custom CSS -->
	<link rel="stylesheet" type="text/css" href="stylesheets/sign.css">
	<!-- Fonts -->
	<link href='https://fonts.googleapis.com/css?family=Autour One' rel='stylesheet'>
</head>
<!-- **************************Sign In Page*********************************************** -->
<body>	
		<div class="container-fluid">
			<div class="row">
				<img src="../images/toDo-background.jpeg" alt="tech" class="img-responsive"/>
				<div class="col-sm-6 content">
					<form action="/index" method="post">
						<div class="form-group new">
							<h3>Welcome!</h3>
							<p>To-Do for You is a web application that provides a concise and creative way to keep all of your thoughts and activities organized.</p> 
							<br>
							<p>Login below or sign up to create an account!</p>
							<label>Username:</label>
							<input type="text" name="username" placeholder="User Name"  class="form-control username form-input"/>
							<label>Password:</label>
							<input type="password" name="password"  placeholder="*****" class="form-control password form-input"/>
						</div>
						<button type="submit" id="submit-login">Submit</button>
						<br>
					</form>
							<div class="sign-up">
								<p>Not a member?
							<a href="/register">Sign Up</a>
						</p>
					</div>
				
				</div>
		  	</div>
	   </div>
		
</body>
</html>