<!DOCTYPE html>
<html>
<head>
	<title>Sign In Page</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> 
	<link rel="stylesheet" type="text/css" href="stylesheets/sign.css">
</head>

<body>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-6 sign-in-box">
				<p>Test</p>
			</div>
		</div>
	</div>
</head>
<body>


</body>
</html>