
.container-fluid{
	background-repeat: no-repeat;
}

.img-responsive{
	width: 99vw;
	border: 1em solid black;
	padding-right: 0px;
	padding-left:0px;
	height: 100vh;
}


.form-group{
	/* margin-bottom: 11px; */
  /* text-align: left; */
}
.form-control{
  margin-top: 1em;
}

.edit{
    position: absolute;
    background-color: dodgerblue;
    left: 20%;
    top: 38%; 
    width: 50%;
    font-family:'Autour One';
    border:3px solid black ;
    text-align: center;
}

#input-date{
    margin-left: 26em;
    width: 20%;
}

.btn-primary {
    color: black;
    background-color: cyan;
    border-color: black;
 }

/* MEDIA QUERIES */

/* @media only screen and (max-width:400px){
    #input-date{
        margin-left: 3em;
        width: 64%;
        height: 2em;
    }
} */
