
.container-fluid{
	background-repeat: no-repeat;
}

.img-responsive{
	width: 99vw;
	border: 1em solid black;
	padding-right: 0em;
	padding-left:0em;
	height: 100vh;
}

.form-group{
	margin-bottom: 11px;
    text-align: left;
}

.sign-up{
	text-align: left;
}
.sign-up a{
	color: white;
}

.form-group h3{
    text-align: center;
    font-size: 2em;
  }
.form-group p{
  	text-align: center;
    font-size: 1em;
  }

.content{
    position: absolute;
    background-color: dodgerblue;
    left: 20%;
    top: 38%; 
    width: 50%;
    font-family:'Autour One';
    border:3px solid black ;
    text-align: center;
}
