.container-fluid{
	background-repeat: no-repeat;
	position: relative;
}

.img-responsive{
	width: 99vw;
	border: 1em solid black;
	padding-right: 0em;
	padding-left:0em;
	height: 102vh;
}


.form-group, .sign-up{
	margin-bottom: 0em;
    text-align: left;
}

.signInBox {
    position: absolute;
    font-size: 2em;
    /* border: 3px solid dodgerblue; */
	background-color: dodgerblue;
	left: 20%;
    top: 30%; 
    width: 50%;
    font-family:'Autour One';
    border:3px solid black ;
    text-align: center;
    /* margin-left: 13em;  */
	/* margin-top: 4em;  */
   
} 
.signInBox h3{
	font-size: 2em;
	font-family:'Autour One';
}

#submit-login{
	color: black;
	background-color: lightgrey;
}

/* Portrait phones and smaller */
/* @media (max-width: 526px) {
	.signInBox{
		margin-left: 13em;
	}
} */