
.container-fluid{
	/* background-image: url('../images/toDo-background.jpeg'); */
	background-repeat: no-repeat;
}

.img-responsive{
	width: 99vw;
	border: 9px solid black;
	padding-right: 0px;
	padding-left:0px;
	height: 102vh;
}

.form-group{
	margin-bottom: 11px;
    text-align: left;
}

.sign-up{
	text-align: left;
}

.content h1{
    position: absolute;
    bottom: 450px;
    right: 113px;
    font-size: 60px;
    text-align: center;
    /* margin: auto; */
    font-family:'Autour One';
}
.content h3{
	font-size: 47px;
}

.content{
	position: absolute;
	border: 3px solid dodgerblue;
	background-color: dodgerblue;
	margin-left: 202px;
	margin-top: -787px;
	text-align: center;
    font-size: 21px;
}


#submit-login{
	color: black;
	background-color: lightgrey;
}

/* MEDIA QUERIES */
@media(min-width:1280px){
	.content h1{
		right: 201px;
    	font-size: 3em;
    	bottom: 426px;
	}
	.content{
		right: 553px;
    	width: 1222px;
    	font-size: 29px;
	}

}
@media(min-width:639px){
	.content h1{
		right: 53px;
	}
	.content{
		margin-top: -618px;
	}

}
@media(max-width:930px){
	.content h1{
		right: 53px;
	}
	.content{
		margin-top: -618px;
	}

}
@media(min-width:480px){
	.content h1{
		right: 53px;
	}
	.content{
		margin-top: -618px;
	}

}
@media(min-width:400px){
	.content h1{
		bottom: 510px;
	}
	.content{
		margin-top: -618px;
	}

}