body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}
.container-fluid{
	/* background-image: url('../images/toDo-background.jpeg'); */
	background-repeat: no-repeat;
}

.img-responsive{
	width: 99vw;
	border: 9px solid black;
	padding-right: 0px;
	padding-left:0px;
	height: 102vh;
}

a {
  color: #00B7FF;
}
/* .container{
	margin-top: 40px;
} */


.content{
/* 	position: absolute;
	border: 3px solid dodgerblue;
	background-color: dodgerblue;
	margin-left: -2px;
	margin-top: 468px;
	text-align: center;
    font-size: 21px;
    font-family: Autour One;
    font-weight: bold;
    font-size: 30px; */
 /*    position: absolute;
	border: 3px solid dodgerblue;
	background-color: dodgerblue;
	margin-left: 515px;
	margin-top: -1200px;
	text-align: center;
  font-size: 24px;
  font-family:'Autour One';
  border:3px solid black ;
  height: 53vh;
  width:55vw; */
   position: absolute;
    font-size: 2em;
    /* border: 3px solid dodgerblue; */
  background-color: dodgerblue;
  left: 20%;
    top: 30%; 
    width: 50%;
    font-family:'Autour One';
    border:3px solid black ;
    text-align: center;
}

.content h1{
	font-family: Autour One;
    font-weight: bold;
    font-size: 54px;

}
.btn-danger{
	background-color: #4CAF50;
	color:black;
}

.btn-warning{
	background-color:#f44336;
	color: black;
}

.btn-primary{
	background-color: cyan;
	color: black;
}
 .welcome-msg{
 	position: relative;
    top: -1350px;
    border: 1px solid black;
    width: 275px;
    background-color: cyan;
 }
 
/* MEDIA QUERIES */


/* @media (max-width:2000px){
@media screen and (max-width: 2000px) {
    .content h1{
    	height: 11vh;
    }  
}  */
/* Large desktops and laptops
/* @media (min-width: 1200px) {
	
}
/* Landscape tablets and medium desktops */
/* @media (min-width: 992px) and (max-width: 1199px) {
} */

/* Portrait tablets and small desktops */
/* @media (min-width: 768px) and (max-width: 991px) {
} */

/* Landscape phones and portrait tablets */
/* @media (max-width: 767px) {
} */

/* Portrait phones and smaller */
/* @media (max-width: 480px) {
} */

