body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  /* background-color:  coral; */
}
.container-fluid{
	/* background-image: url('../images/toDo-background.jpeg'); */
	background-repeat: no-repeat;
}

.background{
	width: 129em;
	border: 9px solid black;
	padding-right: 0px;
	padding-left:0px;
}
a {
  color: #00B7FF;
}
/* .container{
	margin-top: 40px;
} */


.content{
	position: absolute;
	/* border: 3px solid dodgerblue; */
	/* background-color: dodgerblue; */
	margin-left: -2px;
	margin-top: 468px;
	text-align: center;
    font-size: 21px;
    font-family: Autour One;
}

 
